<h1>aca va el titulo</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>stock</th>
            <th>imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let perfum of perfumes" [ngClass]="{'oferta': perfum.oferta}">
            
            <td>{{perfum.nombre}}</td>
            <td>{{perfum.marca}}</td>
            <td>{{perfum.precio}}</td>
            <td><span *ngIf="perfum.stock==0" class="badge badge-warning">NO HAY STOCK</span><samp *ngIf="perfum.stock >0">{{perfum.stock}}</samp></td>
            <td><img width="50px" [src]="perfum.imagen" [alt]="perfum.nombre"></td>
        </tr>
    </tbody>
</table>